{#
/**
 * @file
 * Default theme implementation to display a paragraph of type "Buttons".
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "preview" or "full".
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Set default attributes if not available #}
{% if not attributes %}
  {% set attributes = create_attribute() %}
{% endif %}

{# Set CSS classes #}
{% set classes = [
  'paragraph',
  'paragraph--type--buttons'
] %}

{# Add view mode class if available #}
{% if view_mode %}
  {% set classes = classes|merge(['paragraph--view-mode--' ~ view_mode|clean_class]) %}
{% endif %}

{# Add unpublished class if paragraph exists and is unpublished #}
{% if paragraph and not paragraph.isPublished() %}
  {% set classes = classes|merge(['paragraph--unpublished']) %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
