{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="features-section">
      <div class="features-container">
        <div class="features-grid">
          {% if content.field_featured_section_items %}
            {% for key, item in content.field_featured_section_items %}
              {% if key|first != '#' %}
                {{ item }}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock paragraph %}
