
<form{{ attributes.addClass('contact-form').setAttribute('id', 'contactForm').setAttribute('novalidate', 'novalidate') }}>
  <div class="form-group">
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </div>
</form>
